<nav class="container" >
    <div class="d-flex align-items-center justify-content-between w-100">
      
      <!-- Left: Logo -->
      <div>
        <a href="index.html">
          <img src="../assets/images/logo.svg" alt="logo">
        </a>
      </div>
  
      <!-- Middle: Menu -->
      <ul class="d-flex mb-0 list-unstyled">
        <li class="px-3 ">
          <a href="products.html" class="text-decoration-none fw-normal"  style="color: #141a1f;">服務方案</a>
        </li>
        <li class="px-3">
          <a href="story.html" class="text-decoration-none fw-normal" style="color: #141a1f;">關於職旅</a>
        </li>
        <li class="px-3">
          <a href="contact.html" class="text-decoration-none fw-normal" style="color: #141a1f;">聯絡我們</a>
        </li>
      </ul>
  
      <!-- Right: Avatar + Name -->
      <div class="d-flex align-items-center">
        <a href="login.html" class="me-2">
          <img src="../assets/images/avatar.png" alt="login" class="rounded-circle" width="44" height="44">
        </a>
        <h4 class="mb-0 fw-normal" style="color: #141a1f;">Mokumaru</h4>
      </div>
  
    </div>
  </nav>
  