.row-accent-strong{ background:#e8edf5; }   /* 最深強調行 */
    .row-accent      { background:#eef2f6; }    /* 次深 */
    .row-accent-lite { background:#f6f8fb; }    /* 淡灰 */
    .table thead th{ border:0; }
    .table tbody tr{ border:0; }
    .table-group-divider{ border-top:1px solid #e5e7eb; }


.btn01{
    border-radius: 16px;
    padding: 12px 20px;
    background-color: #FCFCFD;
    color: #141A1F;
}