<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>預約頁面</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="bg-gray" style="padding-top: 80px; padding-bottom: 80px">
      <div class="container">
        <div class="row">
          <div class="col-10 mx-auto">
            <!-- 導覽列 -->
            <%- include('./layout/navbar'); -%>
           
            <section class="mid-color shadow p-5 bg-body re-main">
              <div class="row g-4">
                <div class="col-12">
                  <h4 class="fw-normal mb-12p">預約紀錄</h4>
                </div>
            
                <!-- 統計卡片 -->
                <div class="col-12">
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="border border-secondary-subtle rounded-4 p-4 text-center">
                        <div class="fs-2 fw-bold text-primary">3</div>
                        <div class="text-secondary mt-1">已完成諮詢</div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="border border-secondary-subtle rounded-4 p-4 text-center">
                        <div class="fs-2 fw-bold text-primary">2025/10/10</div>
                        <div class="text-secondary mt-1">即將到來</div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="border border-secondary-subtle rounded-4 p-4 text-center">
                        <div class="fs-2 fw-bold text-primary">3/6</div>
                        <div class="text-secondary mt-1">使用方案進度</div>
                      </div>
                    </div>
                  </div>
                </div>
            
                <!-- 篩選 + 排序 -->
                <div class="col-12">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <div class="btn-group" role="group" aria-label="filter">
                      <button type="button" class="btn btn-dark rounded-pill px-3 me-2">全部預約</button>
                      <button type="button" class="btn btn-outline-secondary rounded-pill px-3 me-2 btn01">已完成</button>
                      <button type="button" class="btn btn-outline-secondary rounded-pill px-3 btn01">已取消</button>
                    </div>
            
                    <div class="dropdown">
                      <button class="btn btn-outline-secondary rounded-pill px-3 dropdown-toggle no-caret" data-bs-toggle="dropdown">
                        排序 <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#141A1F"><path d="M400-240v-80h160v80H400ZM240-440v-80h480v80H240ZM120-640v-80h720v80H120Z"/></svg>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">新到舊</a></li>
                        <li><a class="dropdown-item" href="#">舊到新</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
            
                <!-- 表格 -->
                <div class="col-12">
                  <div class="table-responsive">
                    <table class="table align-middle mb-0">
                      <thead class="text-secondary small">
                        <tr class="">
                          <th class="fw-5 ">諮詢方案</th>
                          <th class="fw-5">預約日期</th>
                          <th class="fw-5">諮詢時長</th>
                          <th class="fw-5">諮詢方式</th>
                          <th class="fw-5">上課狀態</th>
                        </tr>
                      </thead>
                      <tbody class="table-group-divider">
                        <tr class="bg-body-secondary">
                          <td>職涯定位-職涯探索包｜6/6堂</td>
                          <td>2025/11/11</td>
                          <td>60分鐘</td>
                          <td><span class="badge rounded-pill bg-primary-subtle text-primary-emphasis">視訊</span></td>
                          <td class="" style="color: black;">等待上課</td>
                        </tr>
                        <tr class="bg-light-subtle " style="background-color: #E0E5EB;">
                          <td style="background-color: #E0E5EB;">職涯定位-職涯探索包｜5/6堂</td>
                          <td style="background-color: #E0E5EB;">2025/10/10</td>
                          <td style="background-color: #E0E5EB;">60分鐘</td>
                          <td style="background-color: #E0E5EB;"><span class="badge rounded-pill bg-primary-subtle text-primary-emphasis">視訊</span></td>
                          <td  style="background-color: #E0E5EB; color: black;">等待上課</td>
                        </tr>
                        <tr class="bg-light opacity-50 pe-none" aria-disabled="true">
                          <td>職涯定位-職涯探索包｜4/6堂</td>
                          <td class="text-secondary">2025/09/09</td>
                          <td class="text-secondary">60分鐘</td>
                          <td><span class="badge rounded-pill bg-primary-subtle text-primary-emphasis">視訊</span></td>
                          <td><span class="text-success">已完成</span></td>
                        </tr>
                        <tr class="bg-light-subtle opacity-50 pe-none" aria-disabled="true">
                          <td style="background-color: #E0E5EB;">職涯定位-職涯探索包｜3/6堂</td>
                          <td style="background-color: #E0E5EB;" class="text-secondary">2025/08/08</td>
                          <td style="background-color: #E0E5EB;" class="text-secondary">60分鐘</td>
                          <td style="background-color: #E0E5EB;"><span class="badge rounded-pill bg-info-subtle text-info-emphasis">面對面</span></td>
                          <td style="background-color: #E0E5EB;"><span class="text-success">已完成</span></td>
                        </tr>
                        <tr class="bg-light opacity-50 pe-none" aria-disabled="true">
                          <td>職涯定位-職涯探索包｜2/6堂</td>
                          <td class="text-secondary">2025/07/07</td>
                          <td class="text-secondary">60分鐘</td>
                          <td><span class="badge rounded-pill bg-info-subtle text-info-emphasis">面對面</span></td>
                          <td><span class="text-success">已完成</span></td>
                        </tr>
                        <tr class="bg-light-subtle opacity-50 pe-none" aria-disabled="true">
                          <td style="background-color: #E0E5EB;">職涯定位-職涯探索包｜1/6堂</td>
                          <td style="background-color: #E0E5EB;" class="text-secondary">2025/06/06</td>
                          <td style="background-color: #E0E5EB;" class="text-secondary">90分鐘</td>
                          <td style="background-color: #E0E5EB;"><span class="badge rounded-pill bg-info-subtle text-info-emphasis">面對面</span></td>
                          <td style="background-color: #E0E5EB;"><span class="text-success">已完成</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
