<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>career plan</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="bg-gray" style="padding-top: 80px; padding-bottom: 80px">
      <div class="container">
        <div class="row">
          <div class="col-10 mx-auto">
            <!-- 導覽列 -->
            <%- include('./layout/navbar'); -%>
            <!-- 表單內容 -->
            <section
              class="d-flex flex-wrap mid-color shadow p-5 bg-body re-main"
            >
              <div class="col-3 me-4">
                <h5 class="fw-normal">職旅計劃概況</h5>
                <p
                  class="fw-normal mb-4"
                  style="color: #667f99; font-size: 14px"
                >
                  欄位皆為
                </p>
              </div>
              <div class="col-7">
                <!-- 職業狀態 -->
                <span class="d-block mb-2">目前職業狀態</span>
                <div class="d-flex flex-wrap mb-4">
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">全職上班族</span>
                  </label>
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">兼職工作者</span>
                  </label>
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">自由工作者/接案者</span>
                  </label>
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">數位遊牧者</span>
                  </label>
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">創業者/企業家</span>
                  </label>
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">待業中</span>
                  </label>
                  <label class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">其他</span>
                  </label>
                </div>
                <!-- 工作產業 -->
                <select class="form-select mb-4">
                  <option selected>工作產業</option>
                  <option>科技</option>
                  <option>媒體</option>
                  <option>教育</option>
                  <option>金融</option>
                  <option>醫療健康</option>
                  <option>零售製造</option>
                  <option>服務業</option>
                  <option>藝術創意</option>
                  <option>非營利組織</option>
                </select>
                <!-- 工作年資 -->
                <select class="form-select mb-4 " >
                  <option selected>工作年資</option>
                  <option>一年以下</option>
                  <option>1-3年</option>
                  <option>3-5年</option>
                  <option>5-10年</option>
                  <option>10年以上</option>
                </select>
                <!-- 月收入 -->
                <!-- 月收入區間 -->
                <span class="d-block mb-2">月收入區間</span>
                <div class="d-flex flex-nowrap align-items-center mb-4">
                  <label class="form-check form-check-inline me-3 text-nowrap">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="salary"
                    />
                    <span class="form-check-label " style="font-size: 14px;">3萬以下</span>
                  </label>
                  <label class="form-check form-check-inline me-3 text-nowrap">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="salary"
                    />
                    <span class="form-check-label" style="font-size: 14px;">3-5萬</span>
                  </label>
                  <label class="form-check form-check-inline me-3 text-nowrap">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="salary"
                    />
                    <span class="form-check-label" style="font-size: 14px;">5-8萬</span>
                  </label>
                  <label class="form-check form-check-inline me-3 text-nowrap">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="salary"
                    />
                    <span class="form-check-label" style="font-size: 14px;">8-12萬</span>
                  </label>
                  <label class="form-check form-check-inline me-3 text-nowrap">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="salary"
                    />
                    <span class="form-check-label" style="font-size: 14px;">12-20萬</span>
                  </label>
                  <label class="form-check form-check-inline text-nowrap">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="salary"
                    />
                    <span class="form-check-label" style="font-size: 14px;">20萬以上</span>
                  </label>
                </div>
                <!-- 職業摘要 -->
                <div class="mb-4">
                  <textarea
                    class="form-control"
                    rows="4"
                    maxlength="300"
                    style="resize: none; padding: 16px 12px"
                  >
職業摘要（簡短描述您的專業背景和核心競爭力，最多 300 字）</textarea
                  >
                </div>
                <!-- 作品案例 -->
                <div class="mb-4">
                  <textarea
                    class="form-control"
                    rows="1"
                    style="resize: none; padding: 16px 12px"
                  >
作品案例展示</textarea
                  >
                </div>
                <div class="mb-2"><span>附件檔案</span></div>
                <button class="btn-color fw-normal d-block "><svg style="position: relative; top: -2px;" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#141A1F"><path d="M440-320v-326L336-542l-56-58 200-200 200 200-56 58-104-104v326h-80ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
                  上傳檔案
                </button>
              </div>
              <!-- 附件檔案 -->
              <!-- 分隔線 -->
              <div class="col-12 border-bottom my-5"></div>
              <!-- 短期目標 -->
              
                <div class="col-3 me-4">
                  <h5 class="fw-normal">職涯規劃</h5>
                  <p
                    class="fw-normal mb-4"
                    style="color: #667f99; font-size: 14px"
                  >
                    欄位皆為
                  </p>
                </div>
             
              <div class="col-7">
                <div class="mb-4">
                  <textarea
                    class="form-control mb-4"
                    rows="4"
                    maxlength="300"
                    style="resize: none; padding: 16px 12px"
                  >1 年短期職涯目標（最多 300 字）</textarea
                  >
                </div>
                
                <textarea
                    class="form-control"
                    rows="4"
                    maxlength="300"
                    style="resize: none; padding: 16px 12px"
                  >1-3 年中長期職涯願景（最多 300 字）</textarea
                  >
                  <span class="d-block mb-2">理想工作模式</span>
                <div class="d-flex flex-wrap mb-4">
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">固定辦公室工作</span>
                  </label>
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">混合式工作(辦公室+遠端)</span>
                  </label>
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">完全遠端工作(固定地點)</span>
                  </label>
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">數位遊牧(邊工作邊旅行)</span>
                  </label>
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">其他(請說明)</span>
                  </label>
                  
                  
                </div>
              </div>
              
              <!-- 按鈕 -->
              <div class="col-7 text-center mx-auto">
                <button class="btn-color-1 fw-normal  me-4 " type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                  匯出PDF
                  <svg style="position: relative; top: -3px;" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor">
                    <path d="M522-480 333-669l51-51 240 240-240 240-51-51 189-189Z"/>
                  </svg>
                </button>
                <button class="btn-color-1 fw-normal " type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                  儲存更新
                  <svg style="position: relative; top: -3px;" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor">
                    <path d="M522-480 333-669l51-51 240 240-240 240-51-51 189-189Z"/>
                  </svg>
                </button>
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
