<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>career plan</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="bg-gray" style="padding-top: 80px; padding-bottom: 80px">
      <div class="container">
        <div class="row">
          <div class="col-10 mx-auto">
            <!-- 導覽列 -->
            <%- include('./layout/navbar'); -%>
            <!-- 表單內容 -->
            <section
              class="d-flex flex-wrap mid-color shadow p-5 bg-body re-main"
            >
              <div class="col-3 me-4">
                <h4 class="fw-normal mb-12p">職旅計劃概況</h4>
                <p
                  class="fw-normal mb-4 "
                  style="color: #667f99; font-size: 14px"
                >
                  欄位皆為<span class="tag-title ms-1">必填</span>
                </p>
              </div>
              <div class="col-7">
                <!-- 職業狀態 -->
                <span class="d-block mb-2">目前職業狀態</span>
                <div class="d-flex flex-wrap mb-4">
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">全職上班族</span>
                  </label>
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">兼職工作者</span>
                  </label>
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">自由工作者/接案者</span>
                  </label>
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">數位遊牧者</span>
                  </label>
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">創業者/企業家</span>
                  </label>
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">待業中</span>
                  </label>
                  <label class="form-check form-check-inline mb-2">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">其他</span>
                  </label>
                </div>
                <!-- 工作產業 -->
                <select class="form-select mb-4">
                  <option selected>工作產業</option>
                  <option>科技</option>
                  <option>媒體</option>
                  <option>教育</option>
                  <option>金融</option>
                  <option>醫療健康</option>
                  <option>零售製造</option>
                  <option>服務業</option>
                  <option>藝術創意</option>
                  <option>非營利組織</option>
                </select>
                <!-- 工作年資 -->
                <select class="form-select mb-4 " >
                  <option selected>工作年資</option>
                  <option>一年以下</option>
                  <option>1-3年</option>
                  <option>3-5年</option>
                  <option>5-10年</option>
                  <option>10年以上</option>
                </select>
                <!-- 月收入 -->
                <!-- 月收入區間 -->
                <span class="d-block mb-2">月收入區間</span>
                <div class="d-flex flex-nowrap align-items-center mb-4">
                  <label class="form-check form-check-inline me-3 text-nowrap">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="salary"
                    />
                    <span class="form-check-label " style="font-size: 14px;">3萬以下</span>
                  </label>
                  <label class="form-check form-check-inline me-3 text-nowrap">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="salary"
                    />
                    <span class="form-check-label" style="font-size: 14px;">3-5萬</span>
                  </label>
                  <label class="form-check form-check-inline me-3 text-nowrap">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="salary"
                    />
                    <span class="form-check-label" style="font-size: 14px;">5-8萬</span>
                  </label>
                  <label class="form-check form-check-inline me-3 text-nowrap">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="salary"
                    />
                    <span class="form-check-label" style="font-size: 14px;">8-12萬</span>
                  </label>
                  <label class="form-check form-check-inline me-3 text-nowrap">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="salary"
                    />
                    <span class="form-check-label" style="font-size: 14px;">12-20萬</span>
                  </label>
                  <label class="form-check form-check-inline text-nowrap">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="salary"
                    />
                    <span class="form-check-label" style="font-size: 14px;">20萬以上</span>
                  </label>
                </div>
                <!-- 職業摘要 -->
                <div class="mb-4">
                  <textarea
                    class="form-control"
                    rows="4"
                    maxlength="300"
                    style="resize: none; padding: 16px 12px"
                  >
職業摘要（簡短描述您的專業背景和核心競爭力，最多 300 字）</textarea
                  >
                </div>
                <!-- 作品案例 -->
                <div class="mb-4">
                  <textarea
                    class="form-control"
                    rows="1"
                    style="resize: none; padding: 16px 12px"
                  >
作品案例展示</textarea
                  >
                </div>
                <div class="mb-2"><span>附件檔案</span></div>
                <button class="btn-color fw-normal d-block "><svg style="position: relative; top: -2px;" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#141A1F"><path d="M440-320v-326L336-542l-56-58 200-200 200 200-56 58-104-104v326h-80ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
                  上傳檔案
                </button>
              </div>
              <!-- 附件檔案 -->
              <!-- 分隔線 -->
              <div class="col-12 border-bottom my-5"></div>
              <!-- 短期目標 -->
                <div class="col-3 me-4">
                  <h4 class="fw-normal  mb-12p">職涯規劃</h4>
                  <p
                    class="fw-normal mb-4 "
                    style="color: #667f99; font-size: 14px"
                  >
                    欄位皆為<span class="tag-title ms-1">必填</span>
                  </p>
                </div>
              <div class="col-7 ">
                <div class="mb-4">
                  <textarea
                    class="form-control mb-4"
                    rows="4"
                    maxlength="300"
                    style="resize: none; padding: 16px 12px"
                  >1 年短期職涯目標（最多 300 字）</textarea
                  >
                </div>
                <textarea
                    class="form-control"
                    rows="4"
                    maxlength="300"
                    style="resize: none; padding: 16px 12px"
                  >1-3 年中長期職涯願景（最多 300 字）</textarea
                  >
                  <span class="d-block mb-2 mt-4">理想工作模式</span>
                <div class="d-flex flex-wrap mb-4">
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">固定辦公室工作</span>
                  </label>
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">混合式工作(辦公室+遠端)</span>
                  </label>
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">完全遠端工作(固定地點)</span>
                  </label>
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">數位遊牧(邊工作邊旅行)</span>
                  </label>
                  <label class="form-check form-check-inline mb-2 me-3">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="status"
                    />
                    <span class="form-check-label" style="font-size: 14px;">其他(請說明)</span>
                  </label>
                </div>
                <div class="mb-5 ">
                  <textarea
                    class="form-control"
                    rows="1"
                    style="resize: none; padding: 16px 12px">目標薪資/收入</textarea>
                </div>
                  <!-- 目前面臨的職涯挑戰 -->
                  <span class="mb-2 fs-6">目前面臨的職涯挑戰</span>
                  <div class="mb-4 mt-2">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="challenge1">
                      <label class="form-check-label" style="font-size:14px;" for="challenge1">方向不明確</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="challenge2">
                      <label class="form-check-label" style="font-size:14px;" for="challenge2">技能需要提升</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="challenge3">
                      <label class="form-check-label" style="font-size:14px;" for="challenge3">收入不穩定</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="challenge4">
                      <label class="form-check-label" style="font-size:14px;"  for="challenge4">客戶開發困難</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="challenge5">
                      <label class="form-check-label" style="font-size:14px;" for="challenge5">時間管理問題</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="challenge6">
                      <label class="form-check-label" style="font-size:14px;" for="challenge6">工作生活失衡</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="challenge7">
                      <label class="form-check-label" style="font-size:14px;" for="challenge7">缺乏人脈資源</label>
                    </div>
                    <div class="form-check form-check-inline ">
                      <input class="form-check-input" type="checkbox" id="challenge8">
                      <label class="form-check-label" style="font-size:14px;" for="challenge8">其他(請說明)</label>
                    </div>
                  </div>
                  <!-- 期望獲得的協助與資源 -->
                  <span class=" mb-2 fs-6">期望獲得的協助與資源</span>
                  <div class="mt-2">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="work1">
                      <label class="form-check-label" style="font-size:14px;" for="work1">職涯方向指導</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="work2">
                      <label class="form-check-label" style="font-size:14px;" for="work2">專業技能提升建議</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="work3">
                      <label class="form-check-label" style="font-size:14px;" for="work3">個人品牌建立</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="work4">
                      <label class="form-check-label" style="font-size:14px;" for="work4">接案策略與定價</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="work5">
                      <label class="form-check-label" style="font-size:14px;" for="work5">客戶開發方法</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="work6">
                      <label class="form-check-label" style="font-size:14px;" for="work6">財務規劃</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="work7">
                      <label class="form-check-label" style="font-size:14px;" for="work7">時間管理系統</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="work8">
                      <label class="form-check-label" style="font-size:14px;" for="work8">工作生活平衡</label>
                    </div>
                    <div class="form-check form-check-inline mb-4 ">
                      <input class="form-check-input" type="checkbox" id="work9">
                      <label class="form-check-label" style="font-size:14px;" for="work9">其他(請說明)</label>
                    </div>
                  </div>
                  <!-- 感興趣的服務方案 -->
                  <span class="mt-4 mb-2 fs-6 ">感興趣的服務方案</span>
                  <div class="mb-3 mt-2">
                    <div class="form-check form-check-inline ">
                      <input class="form-check-input" type="checkbox" id="service1">
                      <label class="form-check-label" style="font-size:14px;" for="service1">探索定位</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="service2">
                      <label class="form-check-label" style="font-size:14px;" for="service2">客製化方案</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="service3">
                      <label class="form-check-label" style="font-size:14px;" for="service3">實戰指導</label>
                    </div>
                  </div>
              </div>
              <!-- 分隔線 -->
              <div class="col-12 border-bottom my-5"></div>
              <div class="col-3 me-4">
                <h4 class="fw-normal  mb-12p">專業技能區塊</h4>
                <p
                  class="fw-normal mb-4 "
                  style="color: #667f99; font-size: 14px"
                >
                  欄位皆為<span class="tag-title ms-1">必填</span>
                </p>
              </div>
            <div class="col-7">
              <div class="">
                <span class="d-block mb-2 ">核心專業領域</span>
                <div class="">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="support1">
                    <label class="form-check-label form-check-label-sm" style="font-size:14px;" for="support1">設計/創意</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="support2">
                    <label class="form-check-label form-check-label-sm" style="font-size:14px;" for="support2">科技/程式開發</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="support3">
                    <label class="form-check-label form-check-label-sm" style="font-size:14px;" for="support3">行銷/公關</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="support4">
                    <label class="form-check-label form-check-label-sm" style="font-size:14px;" for="support4">內容創作/寫作</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="support5">
                    <label class="form-check-label form-check-label-sm" style="font-size:14px;" for="support5">顧問/諮詢</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="support6">
                    <label class="form-check-label form-check-label-sm" style="font-size:14px;" for="support6">商業/管理</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="support7">
                    <label class="form-check-label form-check-label-sm" style="font-size:14px;" for="support7">財務/會計</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="support8">
                    <label class="form-check-label form-check-label-sm" style="font-size:14px;" for="support8">教育/培訓</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="support9">
                    <label class="form-check-label form-check-label-sm" style="font-size:14px;" for="support9">法律/合規</label>
                  </div>
                  <div class="form-check form-check-inline mb-4 ">
                    <input class="form-check-input" type="checkbox" id="support9">
                    <label class="form-check-label form-check-label-sm" style="font-size:14px;" for="support9">健康/醫療</label>
                  </div>
                  <div class="mb-4">
                    <textarea
                      class="form-control mb-4"
                      rows="4"
                      maxlength="300"
                      style="resize: none; padding: 16px 12px"
                    >專業背景和核心競爭力（最多300字）</textarea
                    >
                  </div>
                  <div class="mb-5">
                    <textarea
                      class="form-control mb-4"
                      rows="4"
                      maxlength="300"
                      style="resize: none; padding: 16px 12px"
                    >專業技能（最多300字）</textarea
                    >
                  </div>
                  <div class="mb-4">
                    <textarea
                      class="form-control mb-4"
                      rows="4"
                      maxlength="300"
                      style="resize: none; padding: 16px 12px"
                    >語文能力（最多300字）</textarea
                    >
                  </div>
                  <div class="">
                    <textarea
                      class="form-control mb-4"
                      rows="4"
                      maxlength="300"
                      style="resize: none; padding: 16px 12px"
                    >資格證照（最多300字）</textarea
                    >
                  </div>

                </div>
                  
                 
                </div>
                
              </div>
              <div class="col-12 border-bottom mt-4 mb-5"></div>
              <div class="col-3 me-4">
                <h4 class="fw-normal  mb-12p">教育背景</h4>
                <p
                  class="fw-normal mb-4 "
                  style="color: #667f99; font-size: 14px"
                >
                  欄位皆為<span class="tag-title ms-1">必填</span>
                </p>
              </div>
            <div class="col-7 mb-5">
              <div class="mb-4">
                <textarea
                  class="form-control mb-4"
                  rows="4"
                  maxlength="300"
                  style="resize: none; padding: 16px 12px"
                >學歷背景（最多500字）</textarea
                >
              </div>
              <div class="mb-4">
                <textarea
                  class="form-control mb-4"
                  rows="4"
                  maxlength="300"
                  style="resize: none; padding: 16px 12px"
                >專業培訓與工作坊（最多500字）</textarea
                >
              </div>
            </div>
            <!-- 按鈕 -->
            <div class="col-7 text-center mx-auto">
              <button class="btn-color-1 fw-normal  me-4 " type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                匯出PDF
                <svg style="position: relative; top: -3px;" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor">
                  <path d="M522-480 333-669l51-51 240 240-240 240-51-51 189-189Z"/>
                </svg>
              </button>
              <button class="btn-color-1 fw-normal " type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                儲存更新
                <svg style="position: relative; top: -3px;" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="currentColor">
                  <path d="M522-480 333-669l51-51 240 240-240 240-51-51 189-189Z"/>
                </svg>
              </button>
            </div>
            </div>
            </section>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
